footer{
background-color:#53504C;
color:#F9F1E6;
}
.footer{
    padding: 10px;
}
.creator-tag{
    background-color:#494743;
}

.textinfooter li{
    list-style-type:none;
    a{
        color:#F9F1E6 !important;
       
    }
    a:hover{
        color: #F09457 !important;
    }

}
.social-icons a{
    opacity: 0.5;
    .social-icons a:hover{
        background-color:#F9F1E6;
    }
}
.textinfooter{
    margin-top:30px
}